{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <th>Item</th>
        <th>Vegan</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.vegan }}</td>
        <td>
            <form method="POST" action="{{ url_for('items_set_vegan', item_id=item.id) }}">
                <input type="submit" value="Change status!" />
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('item_delete', item_id=item.id) }}">
                <input type="submit" value="Delete" />
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('review_item', item_id=item.id) }}">
                <input type="submit" value="Give review" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}