{% extends "layout.html" %} {% block body %}

<h2> {{ item_name }} </h2>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>Title</th>
        <th>Quality</th>
        <th>Comment</th>
    </tr>
    {% for review in reviews %}

    <tr>
        <td>
            {{ review.title }}
        </td>
        <td>
            {{ review.rating }}
        </td>
        <td>
            {{ review.comment}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}